<h1>Information for <%= @patient.name %></h1>
<div class="">
  Age: <%= @patient.age %>,&nbsp;&nbsp;
  Gender: <%= @patient.gender  %>
</div>

<% @appts.each do |y| %>
<p> Dr. <%= link_to @doctors.find(y.doctor_id).name, doctor_path(y.doctor_id) %></p>
<p>"Today at "<%= y.appt_datetime %> " for " <%= y.ailment %> </p>
<% end %>

<h2> <%= link_to "All Patients", patients_path %> </h2>
<%= link_to "Edit #{@patient.name}", edit_patient_path(@patient) %>
<%= link_to "Remove #{@patient.name}", patient_path(@patient),
  method: :delete, data: {confirm: "Remove from practice?"}  %>
